@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'MinSans-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
* {
  font-family: 'MinSans-Regular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
/* btn */
.greenBtn,
.backGreenBtn:hover{
  background-color: #45987b;
  border: 1px solid #45987b;
  color: rgba(255, 255, 255, 0.91);
}
.greenBtn:hover,
.backGreenBtn{
  background-color: #3a7e66;
  border: 1px solid #3a7e66;
  color: white;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 1em;
  background-color: white;
  color: black;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* login */
.loginBackground {
  background-image: url("https://images.unsplash.com/photo-1693389107440-afe980ccbb8d?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDEwNXx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loginSection {
  z-index: 2;
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
  padding: 4em 3em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.loginSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.57);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  z-index: -1;
}
.loginSection .input-group {
  background-color: rgba(255, 255, 255, 0.64);
  width: 350px;
}
/* signUp */
.checkPwBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.signUpBtn {
  border-radius: 0.4rem;
  padding: 0.7em;
  transition: all 0.3s ease;
}
/* main */
.mainSection {
  display: inline-block;
}

/* 페이지네이션 */
.paginationSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.pagination button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.pagination button.active {
  color: #45987b;
}

.pagination button:hover:not(.active) {
  background-color: #eeeeee;
}

.container-box {
  background-color: #ffffff;
  display: inline-block;
  border: 1px solid #dee2e6;
  margin: 20px;
  padding: 20px;
}
.custom-th {
  background-color: #eaeaea !important;
}

/* 회원정보 및 작업그룹 관리 */
.managementSection {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  padding: 3rem 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}
.managementBtn {
  border: 1px solid #61ad93;
  color: white;
  background-color: #61ad93;
  transition: all 0.5s ease;
}
.managementBtn:hover {
  border: 1px solid #45997c;
  color: white;
  background-color: #45997c;
}

/* insPage */
.insMainLayout {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 2rem 2.5rem;
}
.insSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.insTitle {
  font-size: 1.3rem;
  font-weight: bold;
}
.insInfoTable {
  border: 1px solid #dadada;
}
.insInfoTable th,
.insInfoTable tr,
.insInfoTable td{
  padding: 0.4rem;
  border: 1px solid #dadada;
}
.insInfoTable th {
  font-size: 0.95rem;
}
.insInfoTable td {
  font-size: 0.9rem;
}
/* 종합분석지 차트 */
.comp-chart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 0px;
  height: 100%;
  overflow-y: auto;
}
.comp-name {
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
  color: gray;
  text-align: center;
}
/* 프로젝트 관리 토글 스위치 */
.custom-switch {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  outline: none;
}
/* 체크되었을 때의 색상 */
.custom-switch:checked {
  background-color: #45987b;
  border: 1px solid #45987b;
  outline: none;
}
.custom-switch::before {
  background-color: white;
  border-radius: 50%;
  outline: none;
}
.custom-switch:checked::before {
  background-color: white;
  border-radius: 50%;
  outline: none;
}
.custom-switch:focus {
  outline: none;
  box-shadow: none;
}
.statsBtnSection {
  display: flex;
  justify-content: end;
}
.statsBtnSection .statsBtn:nth-of-type(3) {
  border: none;
}
.statsBtn {
  border: none;
  border-right: 1px solid gray;
  padding: 0 1.5rem;
  background-color: transparent;
  color: #919191;
  font-family: 'SUITE-Regular';
  font-size: 0.95rem;
  transition: all 0.4s ease;
}
.statsBtn.active {
  color: #2a2a2a;
  font-weight: bold;
}
.statsBtn:hover:not(.active) {
  color: #414141;
}